


/* google font references
font-family: 'Tajawal', sans-serif;
font-family: 'Varela Round', sans-serif; 
*/


body, html{
  margin: 0;
  width: 100%;
  font-size: 20px;
  font-family: 'Tajawal', sans-serif;
}

h1, h2, h3, h4, h5
{
  font-family: 'Varela Round', sans-serif; 
}


a
{
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
a:hover
{
  color:black;
}

/* header */

.App-header{
  text-align: center;
}

.App-email-signup
{
  background-color: #FD636B;
  color: white;
  padding: 0.5em;
  font-size: large;
}

/* close email signup button  */
.App-email-signup button
{
float:right;
background-color: transparent;
color: white;
font-weight: bolder;
font-size: large;
border: none;
cursor: pointer;
transition: 0.5s;
}

.App-email-signup button:hover
{
color:black;
}

/* text that says Click here to sign up  */
.App-email-signup a
{
margin-left: 2em;
}

.App-email-signup a:hover
{
  text-decoration: underline;
}




/* navbar */

.App-navbar
{
background-color: #11BAFD;
/* display: flex;
flex-direction: row; */
text-align: center;
width: 100%;
position: relative;
z-index: 2;
}

.App-ham
{
  float:left;
  margin: 0.3em;
  padding: 1em 0.1em 1em 1em;
  font-size: larger;
}

.App-logo
{
  max-width: 250px;
  object-fit: contain;
  padding: 0.8em 1em 0.2em;
  /* margin-right: 2.5em; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-right:6em;
}

.sticky + .App-nav-empty {
  padding-top: 105px;
}


/* navigation sidebar menu  */

nav {
  position: fixed;
  top: 0;
  background-color: white;
  padding: 0.5em 1em;
  width: 80%;
  max-width: 340px;
  height: 100%;
  z-index: 10;
  font-family: 'Varela Round', sans-serif; 
}

nav ul {
    list-style-type: none;
    padding: 2.5em;
    margin-top: 1.5em;
}

nav ul li a {
    display: block;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    transition: 0.5s;
    /* color: black; */
    color:rgb(61, 61, 61)
}

/* Pseudo element set to hover style, so it pre-sets the width of the element and visibility: hidden hides the pseudo element from actual view. 
   This way the nav bar does not expand when the longest <a> text turns bold on hover */
nav ul li a::before {
  display: block;
  content: "Board Games";
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

nav ul li a:hover {
  background-color: #7cccfa;
  font-weight: bold;
}
nav ul li.active a {
font-weight: bold;
color: black;
}


nav button 
{
  float:left;
  background-color: transparent;
  font-weight: bolder;
  font-size: larger;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  padding: 1em;
}
nav button:hover
{
color: rgb(255, 81, 0);
}



.App-navbtn-conact
{
  margin-top: 3em;
}
.App-navbtn-conact a
{
  font-size:  1em;
  letter-spacing: 0.2em;
  
}










/* page sections */


.App-slide-btn
{
  margin-top: 1em;
  border: 0;
  padding: 1em 1em 0;
  color: rgb(17, 136, 196);
  background-color: transparent;
  cursor: pointer;
}

.App-slide-btn:hover
{
  color: rgb(115, 208, 255);
}


.activebtn
{
color: rgb(255, 255, 255);
/* text-shadow: 0 0 5px rgb(16, 111, 255); */
-webkit-text-stroke: 3px rgb(2, 138, 206);
}






.App-banner
{
  background-color: white;
  padding: 1em 2em 4em 2em;
  text-align: center;
  font-size: large;
  letter-spacing: 0.15em;
  
}

.App-banner img
{
width: 100%;
outline: 5px solid #2a41c4;
border-radius: 0.5em;
margin-top: 1em;
max-width: 700px;

}



.App-infosection
{
background-color: #3BE8B0;
padding: 1em 2em 2em;
text-align: center;
font-size: large;
}
.App-infosection h3
{
margin: 1em 0 0;
}
.App-info-hours p
{
  margin: 0.25em;
}


.App-home-main
{
  background-color: white;
  padding: 1em;
}
.App-home-main img
{
  outline: 5px solid #2a41c4;
  border-radius: 1em;
}



.App-intro-paragraphs
{
  background-color:rgb(113, 227, 255);
  margin-top: 1em;
  padding: 2em;
  border-radius: 2em;
  color: rgb(0, 58, 146);
  font-size: 1.1em;
}

.App-intro-paragraphs p:nth-child(3)
{
  margin-top: 2.5em;
}

.App-product-box
{
  padding: 1em 1em;
  margin: 3em 0;
  text-align: center;
  border-top: 1px solid rgb(21, 80, 170);
  color: #169eec;
}

.App-product-box h4
{
  font-size: 2em;
  margin-bottom: 0.5em;
  text-decoration: underline;
}

.App-product-box p
{
  padding-bottom: 1em;
  text-align: left;
  background-color: #ecf9ff;
  color: black;
  padding: 1em;
}

.App-product-box img
{
  max-width: 100%;
}

.App-email-form
{
  background-color: rgb(231, 237, 253);
  padding: 2em 0;
  text-align: center;
}

.App-email-form a
{
  background-color: #169eec;
  padding: 1em;
  border-radius: 1em;
}


.App-email-form iframe
{
  margin-bottom: 2em;
}

iframe
{
width: 100%;
background-color: white;
max-width: 700px;
border-radius: 1em;
display: table;
margin: 0 auto;
padding: 1em 0;
}


.App-toys
{
  background-color: white;
  text-align: center;
  padding: 1em 0;
}

.App-toys div
{
  max-width: 600px;
  margin: 0 auto;
}

h2
{
  font-size: 2.5em;
  border-bottom: 5px solid #11BAFD;
  width: 80%;
  margin: 0.6em auto 1em;
}

.App-toys img
{
  width: 100%;
  border-radius: 1em;
  outline: 5px solid #FFB900;
}
.App-toys figure
{
  background-color: #11BAFD;
  padding: 1em;
  border-radius: 1em;
  color: white;
  font-size: 1.5em;
}
.App-toys figure figcaption
{
  padding-top: 0.5em;
}


.App-books
{
  background-color: white;
  text-align: center;
  padding: 2em 0 0;
}



.App-book-typeboxes div
{
  padding: 1em;
  position: relative;
  max-width: 600px;
  margin: 1em auto;
}
.App-book-typeboxes img
{
  width: 95%;
  outline: 5px solid #FFB900;
  border-radius: 1em;
}

.App-book-typeboxes div div
{
  background-color: rgba(236, 232, 232, 0.932);
  position: absolute;
  top: 20%;
  width: 57%;
  font-size: large;
}

.App-book-typeboxes .App-book-type-teen
{
  left: 10%;
}

.App-book-typeboxes .App-book-type-children
{
  right: 10%;
}



.App-booklides-box
{
padding: 1.5em;
background-color: #3BE8B0;
}

.App-booklides-box img
{
  width: 95%;
  outline: 5px solid #11BAFD;
  border-radius: 1em;
  height: 500px;
  object-fit: cover;
  margin-top: 1em;
  max-width: 800px;
}




/* chocolate page  */

.App-chocolate-types
{
  padding: 0 1em 2em;
}

.App-chocolate-types div
{
  padding: 1em 1em;
  margin: 1em 0;
  border-radius: 1em;
  background-color: rgb(238, 238, 238);
}


.App-chocolate-types img
{
width: 100%;
max-width: 200px;
}


.App-cake-supplies
{
  padding: 1em 2em;
  background-color: #d6d6d6;
  width: 100%;
}




.App-cakeslides-box
{
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.App-cakeslides-box img
{
  height: 500px;
  outline: 5px solid rgb(148, 148, 148);
  object-fit: cover;
  width: 100%;
}




.App-faq-container
{
  padding: 1em 2em;
}

.App-faq-container div
{
  max-width: 800px;
  margin: 0 auto;
}

.App-faq-container dl dt
{
  font-weight: bold;
}

.App-faq-container dl dd
{
  margin: 0.5em 0 1em;
}

.App-faq-container p
{
  text-align: center;
  width: 100%;
  padding-top: 2em;

}
.App-faq-container p a
{
 color:rgb(0, 58, 146)
}
.App-faq-container p a:hover
{
 color:rgb(113, 19, 236)
}


.App-boardgames-container
{
  padding: 1em;

  text-align: center;
}


.App-boardgames-grid div
{
  margin: 1em;
}

.App-boardgames-grid img
{
  outline: 5px solid #3BE8B0;
  border-radius: 1em;
  width: 100%;
  max-width: 500px;
  margin-bottom: 1em;
}



.App-contact-form
{
  background-color: rgb(205, 233, 245);
  padding: 2em;
  text-align: center;
}

.App-contact-form a
{
  background-color: #169eec;
  padding: 1em;
  border-radius: 1em;
}

.App-contact-form iframe
{
  background-color: white;
  max-width: 700px;
  border-radius: 1em;
  margin: 0 auto 2em;
  padding-top: 1em;
  display: table;
}


/* footer */

footer {
  background-color: white;
  border-top: 5px solid rgb(233, 231, 231);
  text-align: center;
  padding: 1.5em 1em 1.5em;
}

.App-footer-logo
{
  max-width: 200px;
  object-fit: contain;
  padding: 0 0 0.2em;
}


.App-footer-contact-info div
{
padding: 0 0.5em;
font-size: 0.9em;
display: inline-block;
}

.App-footer-social-links img
{
  padding: 0.25em;
  margin: -0.5em 0.25em 0;
  transition: 0.5s;
  border-radius: 0.5em;

}
.App-footer-social-links img:hover
{
  background-color: rgba(0, 0, 0, 0.13);
}

.App-footer-links
{
  margin-top: 0.25em;
  padding: 0.25em;
  background-color: #646464;
  width: 100%;
  border-radius: 0.5em;
}
.App-footer-links a
{
  padding: 0 0.5em;
}



/* MEDIUM SCREENS -  35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {

  h2
  {
    width: 60%;
  }

  .App-infosection
  {
    font-size: larger;
  }

  .App-intro-paragraphs
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 1em;
    max-width: 800px;
    margin: 1em auto 0;
  }
  .App-intro-paragraphs p
  {
    margin: 0;
  }
  .App-intro-paragraphs p:nth-child(3)
  {
    grid-column: 1/3;
    margin-top: 1em;
  }

  .App-product-box
  {
    padding: 1em 3em;
  }

  .App-booklides-box img
  {
    height: 600px;
  }

  .App-boardgames-grid
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .App-boardgames-grid div:nth-child(3)
  {
    grid-column: 1/3;
  }

  .App-chocolate-types
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    max-width: 1300px;
    margin: 0 auto;
  }
  .App-chocolate-types div
  {
    max-width: 400px;
    margin: 0 auto;
  }

  .App-cake-supplies div
  {
    display: table;
    margin: 0 auto;
  }



  .App-cakeslides-box img
  {
    height: 600px;
    max-width: 500px;
  }


  .App-slide-btn
  {
    padding: 0.5em 1.2em 0;
    font-size: medium;
  }


  .App-book-typeboxes div div
  {
    top: 25%;
    width: 40%;
  }


    .App-logo
  {
    max-width: 300px;
    padding: 0.8em 1em 0.1em;
  }

  .App-ham
  {
    font-size: 1.3em;
  }
  


}


/* LARGE SCREENS - 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

  h2
  {
    width: 30%;
  }

  
  .App-product-grid
  {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid rgb(21, 80, 170); */
    /* display: flex;
    flex-wrap: wrap;
    flex: auto auto;
    align-items: flex-start; */
    column-count: 2;
    max-width: 1300px;
    margin: 0 auto 1em;
  }

  .App-product-box
  {
    border-top: none;
    max-width: 500px;
    margin: 0 auto;
    padding: 0.5em;
    
    display: inline-block;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
  }

  .App-toys div
  {
    column-count: 2;
    max-width: 1400px;
    margin: 0 auto;
  }
  .App-toys div figure
  {
    display: inline-block;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
  }


  .App-book-typeboxes
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    margin: 0 auto;
  }

  .App-boardgames-grid
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1700px;
    margin: 0 auto;
  }

  .App-boardgames-grid div:nth-child(3)
  {
    grid-column: auto;
  }


  .App-cakeslides-box img
  {
    height: 650px;
    max-width: 550px;
  }

    .App-slide-btn
  {
    padding: 0.5em 2em 0;
    font-size: large;
  }


  .App-ham
  {
    font-size: 1.8em;
    margin: 0;
    padding-top: 0.75em;
    padding-left: 2em;
  }
  
    .App-logo
  {
    margin-right: 2.5em;
  }

  nav ul li a {
    font-size: 1.42rem;
  }
  

}

